<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>content</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>


<body>

<div class="wrap" style="padding-top: 100px;">

    <div class="writer" id="writer"></div>
    <div class="reg_date" id="reg_date"></div>
    <div class="subject" id="subject"></div>
    <div class="main_content" id="main_content" style="color:#000000; width: 400px; height: 300px; background:#ffffff">

    </div>


    <button id="edit_btn">수정</button>
    <button id="del_btn">삭제</button>


</div>

</body>
<script>


    let tb_id = '';





    function getUrlParams() {
        let match,
            pl = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) {
                return decodeURIComponent(s.replace(pl, " "));
            },
            query = window.location.search.substring(1);
        console.log(query)
        const urlParams = {};

        while (match = search.exec(query)) {
            urlParams[decode(match[1])] = decode(match[2]);
            console.log(match + "매치");
            console.log(urlParams + "파라미터");
        }
        return urlParams;
    }

    function getContent(id) {
        $.ajax({
            type: "GET",
            url: "http://localhost:3000/board/list/" + id,
            dataType: "JSON",
            error: function () {
                alert("실패");
            },
            success: function (data) {
                console.log('성공');
                console.log(data);

                console.log(data.content)
                console.log(data.writer)
                addContent(data);
            }
        })
    }


    function addContent(data) {
        function getFormatDate(date){
            let year = date.getFullYear();
            let month = (1 + date.getMonth());
            month = month >= 10 ? month : '0' + month;
            let day = date.getDate();
            day = day >= 10 ? day : '0' + day;
            return  year + '' + month + '' + day;
        }

        tb_id = data.tb_id; //얘는 왜 변수 타입 x? 전역에 명시라서?
        const content = document.getElementById("main_content");
        const writer = document.getElementById("writer");
        const reg_date = document.getElementById("reg_date");
        const subject = document.getElementById("subject");
        let tk = data.reg_date;
        let cvd = new Date(tk);
        cvd = getFormatDate(cvd);
        content.innerHTML = data.content
        writer.innerHTML = "작성자 : " + data.member_name
        reg_date.innerHTML = "작성일자 : " + cvd
        subject.innerHTML = "제목 : " + data.title

    }


    let del_btn = document.getElementById("del_btn");
    let edit_btn = document.getElementById("edit_btn");
    del_btn.addEventListener("click", del);
    edit_btn.addEventListener("click", function () {
        console.log(tb_id);
        location.href = 'http://localhost:3000/edit.html?id=' + tb_id
    });


    function del() {
        console.log('삭제 펑션쓰');
        console.log(+'파라미터');
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/bbs/delete",
            data: {tb_id: tb_id},
            dataType: "JSON",
            error: function () {
                alert("실패");
            },
            success: function (data) {
                console.log('성공');
                console.log(data);
                alert('삭제되었습니다.');
                return window.location.href = 'http://localhost:3000/';

            }

        })
    }


    window.onload = function () {
        const url_params = getUrlParams()
        console.log(url_params)
        getContent(url_params.id)
    }


</script>
</html>