<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수정</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="wrap" id="wrap" name="wrap" >
    <label>title :</label><input class="title" type="text" id="title" name="title"><br>
        <label>content :</label><input type="text" id="content" name="content"
                                       style="width: 200px; height: 150px; border-box : 1px;"><br>
    </div>

    <button id ="edit_confirm">수정하기</button>
</body>


<script>

    let tb_id = '';

    let title = document.getElementById("title")
    let content = document.getElementById("content")

    const edit_confirm = document.getElementById("edit_confirm")

    edit_confirm.addEventListener("click", data)


     function data() {
        $.ajax({
                type: "POST",
                url: "http://localhost:3000/bbs/edit",
                data: {tb_id: tb_id, title: title.value , content: content.value},
                dataType: "JSON",
                error: function () {
                    alert("실패");
                },
                success: function (data) {
                    console.log('성공');
                    console.log(data);
                    alert('수정되었습니다.')
                    return window.location.href = 'http://localhost:3000/';
                }
            }
        )
    }


    function getUrlParams() {
        let match,
            pl = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) {
                return decodeURIComponent(s.replace(pl, " "));
            },
            query = window.location.search.substring(1);
        console.log(query + "쿼리")
        const urlParams = {};
        while (match = search.exec(query))
            urlParams[decode(match[1])] = decode(match[2]);
        return urlParams;
    }

    function getContent(id) {
        $.ajax({
            type: "GET",
            url: "http://localhost:3000/board/list/" + id,
            dataType: "JSON",
            error: function () {
                alert("실패");
            },
            success: function (data) {
                console.log('성공');
                console.log(data);

                console.log(data.content)
                console.log(data.writer)
                addContent(data);
            }
        })
    }


    function addContent(data) {
        tb_id = data.tb_id; //얘는 왜 변수 타입 x? 전역에 명시라서?

        title = document.getElementById("title");
        content = document.getElementById("content");
        title.value = data.title;
        content.value = data.content;
    }


    window.onload = function () {


        const url_params = getUrlParams()
        console.log(url_params)
        getContent(url_params.id)

    }


</script>
</html>

