<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수정</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<form action="/bbs/edit/confirm" method="post">
    <div class ="wrap" id ="wrap" name="wrap">
        <label>title :</label><input type="text" id="title" name="title"><br>
        <label>content :</label><input type="textarea" placeholder="쿠쿠쿠" id="content" name="content"
                                       style="width: 200px; height: 150px; border-box : 1px;"><br>
    </div>
    <input type="submit" value="수정하기">
</form>

</body>

<script>

    let tb_id = '';

    window.onload = function () {


    function appendBoardRow(tbodyy, data_row) {
        const td_tb_id = document.createElement("td")
        const td_name = document.createElement("td")
        const td_title = document.createElement("td")
        const td_reg_date = document.createElement("td")
        // <td></td>
        td_tb_id.innerHTML = data_row.tb_id
        td_name.innerHTML = data_row.member_name
        td_title.innerHTML = data_row.title
        td_reg_date.innerHTML = data_row.reg_date


        const title = data_row.title
        const content = data_row.content

    function getUrlParams() {
        let match,
            pl = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) {
                return decodeURIComponent(s.replace(pl, " "));
            },
            query = window.location.search.substring(1);
        console.log(query + "쿼리")
        const urlParams = {};
        while (match = search.exec(query))
            urlParams[decode(match[1])] = decode(match[2]);
        return urlParams;
    }

    function getContent(id) {
        $.ajax({
            type: "GET",
            url: "http://localhost:3000/board/list/" + id,
            dataType: "JSON",
            error: function () {
                alert("실패");
            },
            success: function (data) {
                console.log('성공');
                console.log(data);

                console.log(data.content)
                console.log(data.writer)
                addContent(data);
            }
        })
    }


    function addContent(data) {
        tb_id = data.tb_id; //얘는 왜 변수 타입 x? 전역에 명시라서?
        const content = document.getElementById("main_content");
        const writer = document.getElementById("writer");
        const reg_date = document.getElementById("reg_date");
        const subject = document.getElementById("subject");
        content.innerHTML = data.content
        writer.innerHTML = "작성자 : " + data.member_name
        reg_date.innerHTML = "작성일자 : " + data.reg_date
        subject.innerHTML = "제목 : " + data.title

    }


    const tr = document.createElement("tr")
    // <tr></tr>
    tr.appendChild(td_tb_id)
    tr.appendChild(td_name)
    tr.appendChild(td_title)
    tr.appendChild(td_reg_date)


    /* function edit() {
         console.log('수정 펑션쓰');

         $.ajax({
             type: "POST",
             url: "http://localhost:3000/bbs/edit",
             data: { tb_id: tb_id },
             dataType: "JSON",
             error: function () {
                 alert("실패");
             },
             success: function (data) {
                 console.log('성공');
                 console.log(data);


             }

         })


     }*/



        const url_params = getUrlParams()
        console.log(url_params)
        getContent(url_params.id)
    }
    }


</script>
</html>

