<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<script>

    window.onload = function list() {

        const td_tb_id = document.createElement("td");
        const td_writer = document.createElement("td");
        const td_title = document.createElement("td");
        const td_reg_date = document.createElement("td");

        td_tb_id.innerHTML = data_row.tb_id
        td_name.innerHTML = data_row.member_name
        td_title.innerHTML = data_row.title
        td_reg_date.innerHTML = data_row.reg_date


        function createContent() {

            const main_content = document.getElementById("main_content");
            main_content.innerHTML = content
        }

        const tr = document.createElement("tr")
        // <tr></tr>
        tr.appendChild(td_tb_id)
        tr.appendChild(td_name)
        tr.appendChild(td_title)
        tr.appendChild(td_reg_date)


        function createList(data) {
            const tbodyy = document.getElementById("tbodyy")
            // for(변수초기화; 조건문; 구문 실행 후 실행 보통 증감) {
            //
            // }
            for (let i = 0; i < data.length; i++) {
                const data_row = data[i]
                console.log('인' + i, data_row)
                appendBoardRow(tbodyy, data_row)
            }





            function btng() {
                console.log('냥 불러옴');
                $.ajax({
                    type: "GET",
                    url: "http://localhost:3000/board/list",
                    dataType: "JSON",
                    error: function () {
                        alert("실패");
                    },
                    success: function (data) {
                        console.log('성공');
                        console.log(data);

                        removeList(data);

                        createList(data);


                    }

                })
            }



        }
    }


</script>
<body>


<div class="main_wrap" id="main_wrap">
    <table border="1">
        <thread>
            <tr>
                <th title="게시물 번호"> 번호</th>
                <th title="게시물 제목"> 글쓴이</th>
                <th title="게시물 제목"> 제목</th>
                <th title="게시물 컨텐츠"> 게시글</th>

            </tr>
        </thread>

        <tbody id="tbody">


        </tbody>

    </table>

</div>


</div>
</body>
</html>